* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

body {
  width: 100%;


}

#header {
  height: 100%;
  width: 100%;
  padding: 8px 16px;
  margin-top: -20px;
}

.navbar-brand {
  height: 32px;
  width: 40%;


}

.navbar-toggler {
  font-size: 20px;
  position: relative;

}

#icon {
  width: 18%;
  height: 18%;
  display: flex;
  align-items: center;

}

.carousel-caption {

  bottom: 20%;
  text-align: left;
  color: black;
}

.carousel-caption h1 {
  font-weight: 700;
  font-size: 3rem;
}

.carousel-caption p {
  font-size: 1.2rem;
  color: black;
  max-width: 500px;
}

.carousel-caption button {

  border-radius: 25px;
  padding: 10px 25px;
}




#quality {
  height: 100%;
  width: 100%;
}

#text p {
  font-family: "Great Vibes", cursive;
  font-weight: 200;
  font-size: 20px;
  margin-top: 20px;

}

#text h3 {
  height: 100%;
  width: 100%;
  font-weight: 200;
  font-size: 25px;
}

#text p {
  height: 100%;
  width: 100%;
  font-weight: 100;
  font-size: 20px;

}

#image {
  height: 100%;
  width: 100%;
  justify-content: center;

}

#image img {
  height: 100%;
  width: 88%;
  padding-right: 100px;
  margin-top: -20%;

}

#image p {
  height: 100%;
  width: 80%;
  padding-right: 30px;
  font-weight: 100;
  font-size: 20px;

}

#producttext p {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-weight: 300;
  font-size: 20px;
  margin-top: 0px;

}

#producttext h2 {
  height: 100%;
  width: 100%;
  font-weight: 100;
  font-size: 25px;
  text-align: center;
}
#review .card {

  background-color: #f8f9f7;
  /* Light tone */
  border: none;
  border-radius: 15px;
  text-align: center;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);


}

#review img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;

}

#newletter {
  height: 100%;
  width: 100%;
}

#newletter1 i {
  height: 100%;
  width: 20%;
  margin-top: 20px;
  align-items: start;
  padding-left: -130px;
}

#newletter2 {
  height: 100%;
  width: 100%;
  margin-top: -25px;
  padding-left: 37px;

}

#newletter3 {
  height: 100%;
  width: 100%;
  padding: 40px 0;
  text-align: center;

}

#newletter5 i {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  align-items: start;
  padding-left: -150px;

}

#newletter6 {
  height: 100%;
  width: 100%;
  margin-top: -25px;
  padding-left: 50px;

}

#shipping {
  height: 100%;
  width: 100%;

}

#shipping div i {
  height: 100%;
  width: 100%;


}

#footer {
  height: 100%;
  width: 100%;
  
}
#footer img{
  height: 60%;
  width: 100%;
  
}


#endfooter2 img {
  height: 100%;
  width: 120%;
  padding-right: 60px;
  margin-top: -30px;
}
@media only screen and (min-width:768px){


.carousel-caption {

  bottom: 3%;
  
}

.carousel-caption h1 {
 
  font-size: 2rem;
}

.carousel-caption p {
  font-size: 10px;
  color: black;
 
}

.carousel-caption button {

  border-radius: 25px;
  padding: 10px 25px;
}

  #quality {
 margin: 60px;
}
#text{
  height: 100%;
  width: 100%;
justify-content: center;
margin: 20px 0px;
padding-right: 80px;

}
.hero-text {
  color: black;
  top: 60%;
  left: 8%;
  transform: translateY(-50%);
}
#footer {
  height: 100%;
  width: 100%;
  
}
#footer img{
  height: 40%;
  width: 100%;
  
}

#endfooter2 img {
  height: 100%;
  width: 120%;
  padding-right: 60px;
  margin-top: -20px;
}

  


}
@media only screen and (min-width:1200px){
  .carousel-caption {

  bottom: 20%;
  text-align: left;
  color: black;
}

.carousel-caption h1 {
  font-weight: 500;
  font-size: 3rem;
  margin: 0 10px;
}

.carousel-caption p {
  font-size: 1.2rem;
  color: black;
  max-width: 500px;
}


}